* {
    text-decoration: none;
    overflow: auto;
 }

body {
    margin: 0;
    background-color: rgb(34, 143, 132);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: rgb(2, 34, 2);
} 

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: burlywood;
    border: white double 3px;
    width: 50%;
    margin-bottom: 10%;
}

.userInfo {
    display: inline-block;
    text-align: right;
    width: 45%;
}


.userInfo label {
    float: left;
}